<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multiplication Game</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <script defer type="module" src="/public/js/gen-table.js"></script>
</head>
<body>
    <div class="container">
        <h1 id="table-heading"></h1>
        <div id="question-container">
            <h2 id="question"></h2>
        </div>
        <div id="options-container">
            <button class="option-btn"></button>
            <button class="option-btn"></button>
            <button class="option-btn"></button>
            <button class="option-btn"></button>
        </div>
    </div>
</body>
</html>
