<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cube Game</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <script defer src="/public/js/generate-cube.js"></script>
</head>
<body>
    <header id="header"></header>

    <main>
        <h2 id="cube-heading">Let's Practice Cubes</h2>
        <p id="question"></p>
        <div id="options">
            <button class="option-btn"></button>
            <button class="option-btn"></button>
            <button class="option-btn"></button>
            <button class="option-btn"></button>
        </div>
    </main>

    <footer id="footer"></footer>

    <script src="/public/js/components.js"></script>
</body>
</html>
