<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Square Practice</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <script defer src="/public/js/load-header-footer.js"></script>
    <script defer src="/public/js/generate-square.js"></script>
    <script defer src="/public/js/main.js"></script>
</head>
<body>

    <!-- Header Component -->
    <div id="header-container"></div>

    <div class="container">
    <main>
        <h2 id="question"></h2>
        <div class="options">
            <button class="option-btn"></button>
            <button class="option-btn"></button>
            <button class="option-btn"></button>
            <button class="option-btn"></button>
        </div>
    </main>
</div>
    <!-- Footer Component -->
    <!-- <div id="footer-container"></div> -->

</body>
</html>
