<footer class="footer">
    <div class="footer-container">
        <div class="footer-logo">
            <h2>LogicBoost</h2>
            <p>Enhancing logical thinking, one step at a time.</p>
        </div>
        <div class="footer-links">
            <h3>Quick Links</h3>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/src/views/about.html">About Us</a></li>
                <li><a href="/src/views/contact.html">Contact Us</a></li>
                <li><a href="/src/views/queries.html">Queries</a></li>
            </ul>
        </div>
        <div class="footer-social">
            <h3>Follow Us</h3>
            <div class="social-icons">
                <a href="http://github.com/Ankit53710"><img src="/public/Icons/github-icon.png" alt="github"></a>
                <!-- <a href="#"><img src="/public/icons/twitter.svg" alt="Twitter"></a> -->
                <a href="https://www.linkedin.com/in/AnkitM-/"><img src="/public/Icons/Linkedin.webp" alt="Linkedin"></a>
                <!-- <a href="#"><img src="/public/icons/.svg" alt="YouTube"></a> -->
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2025 LogicBoost. All rights reserved.</p>
    </div>
</footer>
